
body{
  font-family: Arial;
}
.division-superior{
  background-color: rgb(203, 203, 203);
  padding: 22px;
  margin: 0px 22%;
  border-radius: 8px;
  width: 950px;
}

.division-interior{
  background-color: rgb(203, 203, 203);
}

.primera-linea{
  display: flex;
}

.tecla-primera{
  /*transform: scale(2);*/
  border-radius: 4px;
  flex: 0.75;
  background-color: rgb(255, 255, 255);
  margin-right: 4px;
}
.tecla-1{
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  margin-right: 4px;
  flex: 0.75;
}
.tecla-2{
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  margin-right: 4px;
  flex: 0.75;
}
.tecla-3{
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  margin-right: 4px;
  flex: 0.75;
}
.tecla-4{
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  margin-right: 4px;
  flex: 0.75;
}
.tecla-5{
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  margin-right: 4px;
  flex: 0.75;
}
.tecla-6{
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  margin-right: 4px;
  flex: 0.75;
}
.tecla-7{
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  margin-right: 4px;
  flex: 0.75;
}
.tecla-8{
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  margin-right: 4px;
  flex: 0.75;
}
.tecla-9{
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  margin-right: 4px;
  flex: 0.75;
}
.tecla-0{
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  margin-right: 4px;
  flex: 0.75;
}
.tecla-guion{
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  margin-right: 4px;
  flex: 0.75;
}
.tecla-igual{
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  margin-right: 4px;
  flex: 0.75;
}
.tecla-backspace{
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  flex: 1.50;
}

.segunda-linea{
  margin-top: 4px;
  display: flex;
}
.tecla-tab{
  border-radius: 4px;
  margin-right: 4px;
  flex: 1;
  background-color: rgb(255, 255, 255);
}
.tecla-q{
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  margin-right: 4px;
  flex: 0.75;
}
.tecla-w{
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  margin-right: 4px;
  flex: 0.75;
}
.tecla-e{
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  margin-right: 4px;
  flex: 0.75;
}
.tecla-r{
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  margin-right: 4px;
  flex: 0.75;
}
.tecla-t{
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  margin-right: 4px;
  flex: 0.75;
}
.tecla-y{
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  margin-right: 4px;
  flex: 0.75;
}
.tecla-u{
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  margin-right: 4px;
  flex: 0.75;
}
.tecla-i{
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  margin-right: 4px;
  flex: 0.75;
}
.tecla-o{
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  margin-right: 4px;
  flex: 0.75;
}
.tecla-p{
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  margin-right: 4px;
  flex: 0.75;
}
.corchete-abierto{
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  margin-right: 4px;
  flex: 0.75;
}
.corchete-cerrado{
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  margin-right: 4px;
  flex: 0.75;
}
.diagonal-inversa{
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  flex: 1;
}

.tercera-linea{
  margin-top: 4px;
  display: flex;
}
.caps-lock{
  border-radius: 4px;
  margin-right: 4px;
  background-color: rgb(255, 255, 255);
  flex: 1.16;
}
.tecla-a{
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  margin-right: 4px;
  flex: 0.75;
}
.tecla-s{
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  margin-right: 4px;
  flex: 0.75;
}
.tecla-d{
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  margin-right: 4px;
  flex: 0.75;
}
.tecla-f{
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  margin-right: 4px;
  flex: 0.75;
}
.tecla-g{
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  margin-right: 4px;
  flex: 0.75;
}
.tecla-h{
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  margin-right: 4px;
  flex: 0.75;
}
.tecla-j{
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  margin-right: 4px;
  flex: 0.75;
}
.tecla-k{
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  margin-right: 4px;
  flex: 0.75;
}
.tecla-l{
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  margin-right: 4px;
  flex: 0.75;
}
.punto-y-coma{
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  margin-right: 4px;
  flex: 0.75;
}
.comilla-simple{
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  margin-right: 4px;
  flex: 0.75;
}
.enter{
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  flex: 1.75;
}

.cuarta-linea{
  margin-top: 4px;
  display: flex;
}
.shift{
  border-radius: 4px;
  margin-right: 4px;
  background-color: rgb(255, 255, 255);
  flex: 1.40;
}
.tecla-z{
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  margin-right: 4px;
  flex: 0.75;
}
.tecla-x{
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  margin-right: 4px;
  flex: 0.75;
}
.tecla-c{
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  margin-right: 4px;
  flex: 0.75;
}
.tecla-v{
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  margin-right: 4px;
  flex: 0.75;
}
.tecla-b{
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  margin-right: 4px;
  flex: 0.75;
}
.tecla-n{
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  margin-right: 4px;
  flex: 0.75;
}
.tecla-m{
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  margin-right: 4px;
  flex: 0.75;
}
.coma{
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  margin-right: 4px;
  flex: 0.75;
}
.punto{
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  margin-right: 4px;
  flex: 0.75;
}
.diagonal{
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  margin-right: 4px;
  flex: 0.75;
}
.shift-2{
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  flex: 2;
}

.quinta-linea{
  margin-top: 4px;
  display: flex;
}
.tecla-control{
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  margin-right: 4px;
  flex: 0.80;
}
.tecla-alt{
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  margin-right: 4px;
  flex: 0.80;
}
.barra-espaciadora{
  text-align: center;
  border-radius: 4px;
  color: rgb(255, 255, 255);
  background-color: rgb(106, 106, 106);
  margin-right: 4px;
  flex: 5;
}
.tecla-altgr{border-radius: 4px;
  background-color: rgb(255, 255, 255);
  margin-right: 4px;
  flex: 0.80;
}
.tecla-control-2{
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  flex: 0.80;
}

div>p{
  text-align: center;
}
p>span{
  color: rgb(235, 255, 0);
}
.primera-linea>div>p{
  margin-top: 8px;
  margin-bottom: 10px;
}
.segunda-linea>div>p{
  margin-top: 8px;
  margin-bottom: 10px;
}
.tercera-linea>div>p{
  margin-top: 8px;
  margin-bottom: 10px;
}
.cuarta-linea>div>p{
  margin-top: 8px;
  margin-bottom: 10px;
}
/*----------------------------------------------------------------------*/
